/* GLOBAL-----------------------------------------------------------*/
body {
    color: #555;
}
h1 {
    font-size: 72px;
    padding-bottom: 25px;
    font-family: 'Shadows Into Light', cursive;
    color: #000;
}

.logo {
  position: fixed;
  left: 45px;
  top: 90px;
  z-index: -50;
}

img {
  padding-bottom: 20px;
}

h2, h3, h4 {
    font-family: 'Shadows Into Light', cursive;
    color: #000;
}

h5 {
    color: #8CC63F;
}

a {
    color: grey;
}

a:focus, a:hover, a:active {
    color: green;
}

li{
    margin-top: 10px;
    list-style-type: none;
}
ul li ul li{
    margin-top: 15px;
    margin-bottom: 5px;
}

footer{
opacity: 0.6;
padding: 10px 0 25px 0;
color: #CCC;
}

footer a{
margin: 0 25px 0 25px;
}

/*Group styling-----------------------------------------------------*/
.group {
background: #FFF;
padding: 25px 10px 75px 10px;
}
.first {
padding-bottom: 200px;
}
.last {
border-radius: 0 0 5px 5px;
padding-top: 200px;
}
.last ul{
list-style-type: none;
}
.last li{
margin: 25px 0 25px 0;
padding: 10px 5px 10px 5px;
background: #DDD;
border-radius: 5px;
}


.bar {
  background: #8CC63F;
  width: 50px;
  height: 100000px;
  position: fixed;
  right: 200px;
  top: 0px;
  z-index: -50;
}
.bar2 {
  background: #51791B;
  width: 10px;
  height: 100000px;
  position: fixed;
  right: 150px;
  top: 0px;
  z-index: -50;

}

/* Nav Styling------------------------------------------------------*/
.sub-nav {
background: #000;
width: auto;
padding: 0px;
margin: 0px;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
    color: white;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
    background: green;
}
[data-magellan-expedition], [data-magellan-expedition-clone] {
background: #000;
z-index: 50;
min-width: 100%;
padding: 10px;
border-radius: 0 0 5px 5px;
}
